html {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    background-color: #2D4654;
    color: #D2D7DF;
}

body{
    margin: 0;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
main{
    width: 80%;
    margin: 0 auto;
    margin-top: 11vh;
}

#top-nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #142129;
}

#top-nav h1 {
    display: flex;
    margin: 0;
    margin-left: 10px; 
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#top-nav ul {
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

#top-nav ul li {
    margin: 0;
    padding-right: 20px;
}

a {
    text-decoration: none;
    font-size: medium;
    transition: color 0.3s ease;
    color:#D2D7DF;
}

footer{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

footer ul{
    list-style-type: none;
}